version: 1

formatters:
  basic:
    format: "%(name)s: %(message)s"

handlers:
  syslog:
    class: logging.handlers.SysLogHandler
    formatter: basic
    address: "/dev/log"

loggers:
  pumaduct:
    level: INFO
    handlers: [syslog]
    propagate: false

root:
  level: INFO
  handlers: [syslog]
